
*.ppts
Revit Addin/Revit UI and Walkthrough.mp4
*.pptx
*.pptx
*.pptx
Revit Addin Code/RevitLogger/obj/Debug/UI/ProgressWindow.baml
Revit Addin Code/RevitLogger/obj/Debug/UI/NoteWindow.baml
Revit Addin Code/RevitLogger/obj/Debug/UI/MainWindow.baml
Revit Addin Code/RevitLogger/obj/Debug/RevitLogger_MarkupCompile.lref
Revit Addin Code/RevitLogger/obj/Debug/RevitLogger_MarkupCompile.cache
Revit Addin Code/RevitLogger/obj/Debug/RevitLogger.csproj.AssemblyReference.cache
Revit Addin Code/RevitLogger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Revit Addin Code/RevitLogger/.vs/RevitLogger/v17/HierarchyCache.v1.txt
Revit Addin Code/RevitLogger/.vs/RevitLogger/v17/.suo
Revit Addin Code/RevitLogger/.vs/RevitLogger/project-colors.json
Revit Addin Code/RevitLogger/.vs/RevitLogger/v17/.suo
Revit Addin Code/RevitLogger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Revit Addin Code/RevitLogger/obj/Debug/RevitLogger.csproj.AssemblyReference.cache
Revit Addin Code/RevitLogger/obj/Debug/RevitLogger_MarkupCompile.cache
Revit Addin Code/RevitLogger/obj/Debug/RevitLogger_MarkupCompile.lref
Revit Addin Code/RevitLogger/obj/Debug/UI/MainWindow.baml
Revit Addin Code/RevitLogger/obj/Debug/UI/NoteWindow.baml
Revit Addin Code/RevitLogger/obj/Debug/UI/ProgressWindow.baml
